<section class="calc__step" id="calc-step-3" aria-hidden="true" tabindex="-1">
    <fieldset class="calc__fieldset">
        <legend class="calc__legend">
            Выберите материал стен для расчёта количества и стоимости.
        </legend>

        <div class="calc__material-container">
            <figure class="calc__material-visualization">
                <div class="calc__material-visualization-canvas">
                    <canvas id="calc-material-canvas" aria-label="Визуализация материала"></canvas>
                </div>

                <figcaption class="calc__material-visualization-caption">
                    <div class="calc__material-attributes" aria-live="polite">
                        <div class="calc__material-attributes-item">
                            <span class="calc__material-attributes-label">Для регионов:</span>
                            <span class="calc__material-attributes-value"></span>
                        </div>
                        <div class="calc__material-attributes-item">
                            <span class="calc__material-attributes-label">Теплоизоляция:</span>
                            <span class="calc__material-attributes-value"></span>
                        </div>
                        <div class="calc__material-attributes-item">
                            <span class="calc__material-attributes-label">Влагостойкость:</span>
                            <span class="calc__material-attributes-value"></span>
                        </div>
                    </div>

                    <div class="calc__material-dimensions" aria-live="polite">
                        <div class="calc__material-dimension calc__material-dimension--length">
                            <span class="calc__material-dimension-value" id="calc-material-length"></span>
                            мм.
                        </div>
                        <div class="calc__material-dimension calc__material-dimension--width">
                            <span class="calc__material-dimension-value" id="calc-material-width"></span>
                            мм.
                        </div>
                        <div class="calc__material-dimension calc__material-dimension--height">
                            <span class="calc__material-dimension-value" id="calc-material-height"></span>
                            мм.
                        </div>
                    </div>
                </figcaption>
            </figure>

            <div class="calc__material-selection">
                <div class="calc__material-selection-group">
                    <select name="material" id="material-select" class="calc__select"
                            aria-label="Выбор материала" required>
                        <option value="" disabled {% if not form.material.data %}selected{% endif %}>
                            Выберите материал...
                        </option>
                        {% for m in materials %}
                            <option value="{{ m.id }}"
                                    data-size="{{ m.size }}"
                                    data-suitable-regions="{{ m.get_suitable_regions() }}"
                                    data-insulation="{{ m.insulation_level }}"
                                    data-moisture="{{ m.moisture_resistance }}"
                                    {% if form.material.data == m.id|string %}selected{% endif %}>
                                {{ m.name }}
                            </option>
                        {% endfor %}
                        <option value="custom-material" {% if form.material.data == "custom" %}selected{% endif %}>
                            Свой материал
                        </option>
                    </select>


                    <div id="custom-material-controls" class="calc__custom-material" aria-hidden="true" tabindex="-1">
                        <button type="button" id="calc-add-custom-material" class="calc__button calc__button--add"
                                aria-label="Добавить свой материал">
                            <span class="material-icons calc__button-icon" aria-hidden="true">add</span>
                            Кастомный
                        </button>
                    </div>
                </div>

                <div class="calc__material-details">
                    <div class="calc__material-cards">
                        <div class="calc__material-card">
                            <span class="material-icons calc__material-details-icon" aria-hidden="true">scale</span>
                            <label for="block-weight" class="calc__material-selection-label">Вес одного блока:</label>
                            <div class="calc__controls calc__controls--material">
                                {{ form.block_weight }}
                                <span class="calc__unit">кг.</span>
                            </div>
                            {% if form.block_weight.errors %}
                                <div class="calc__error-message">
                                    {% for error in form.block_weight.errors %}
                                        <p>{{ error }}</p>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>

                        <div class="calc__material-card">
                            <span class="material-icons calc__material-details-icon" aria-hidden="true">sell</span>
                            <label for="block-price" class="calc__material-selection-label">Цена одного блока:</label>
                            <div class="calc__controls calc__controls--material">
                                {{ form.block_price }}
                                <span class="calc__unit">₸</span>
                            </div>
                            {% if form.block_price.errors %}
                                <div class="calc__error-message">
                                    {% for error in form.block_price.errors %}
                                        <p>{{ error }}</p>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>

                <div class="calc__wall-thickness">
                    <h3 class="calc__description">Толщина стен в блоках:</h3>

                    <div class="calc__thickness-group" role="radiogroup">
                        {% for subfield in form.wall_thickness %}
                            <label class="calc__thickness-label" for="{{ subfield.id }}">
                                {{ subfield }}
                                <span class="material-icons calc__thickness-icon" aria-hidden="true">widgets</span>
                                <span class="calc__thickness-text">{{ subfield.label.text }} блока</span>
                                <span class="material-icons calc__selection-checkmark" aria-hidden="true">
                                    check_circle
                                </span>
                            </label>
                        {% endfor %}
                    </div>

                    {{ form.custom_material }}

                    {% if form.wall_thickness.errors %}
                        <div class="calc__error-message">
                            {% for error in form.wall_thickness.errors %}
                                <p>{{ error }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </fieldset>

    {% include "modals/custom-material-modal.html" %}
</section>
