<section id="custom-material-modal" class="modal__container">
    <div class="modal__content">
        <h3 class="modal__title">Добавление своего материала</h3>
        <div class="modal__form" id="custom-material-form">
            <div class="modal__form-field">
                <label class="modal__form-label" for="custom-material-name">
                    <span class="modal__input-text">
                        <span class="material-icons modal__form-icon">title</span>
                        Название материала
                    </span>
                </label>
                <input type="text" class="modal__form-input" id="custom-material-name" name="name" required>
            </div>

            <div class="modal__form-dimensions">
                <h3 class="modal__form-subtitle">Размеры материала (мм)</h3>
                <div class="modal__form-dimensions-group">
                    <div class="modal__form-field modal__form-field--dimension">
                        <label class="modal__form-label" for="custom-material-length">
                            <span class="modal__input-text">
                                <span class="material-icons modal__form-icon">straighten</span>
                                Длина
                            </span>
                        </label>
                        <div class="modal__controls modal__controls--dimension">
                            <input type="number" class="modal__form-input" id="custom-material-length"
                                   name="length" min="1" required>
                            <span class="modal__unit">мм</span>
                        </div>
                    </div>

                    <div class="modal__form-field modal__form-field--dimension">
                        <label class="modal__form-label" for="custom-material-width">
                            <span class="modal__input-text">
                                <span class="material-icons modal__form-icon">width_full</span>
                                Ширина
                            </span>
                        </label>
                        <div class="modal__controls modal__controls--dimension">
                            <input type="number" class="modal__form-input" id="custom-material-width"
                                   name="width" min="1" required>
                            <span class="modal__unit">мм</span>
                        </div>
                    </div>

                    <div class="modal__form-field modal__form-field--dimension">
                        <label class="modal__form-label" for="custom-material-height">
                            <span class="modal__input-text">
                                <span class="material-icons modal__form-icon">height</span>
                                Высота
                            </span>
                        </label>
                        <div class="modal__controls modal__controls--dimension">
                            <input type="number" class="modal__form-input" id="custom-material-height"
                                   name="height" min="1" required>
                            <span class="modal__unit">мм</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="modal__actions">
            <button type="button" class="modal__button modal__button--cancel" id="cancel-modal">
                <span class="material-icons modal__button-icon">cancel</span>
                Отмена
            </button>
            <button type="button" class="modal__button modal__button--confirm" id="save-custom-material">
                <span class="material-icons modal__button-icon">save</span>
                Сохранить материал
            </button>
        </div>
    </div>
</section>