{% extends "base.html" %}

{% block title %}Калькулятор - BuildCalc{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for("static", filename="css/calc.css") }}">
    <link rel="stylesheet" href="{{ url_for("static", filename="css/steps.css") }}">
    <link rel="stylesheet" href="{{ url_for("static", filename="css/modals/custom-material-modal.css") }}">
{% endblock %}

{% block content %}
    <section class="calc">
        <div class="calc__container">
            <h2 class="calc__title">Расчет материалов</h2>

            <form action="{{ url_for("main.calc") }}" method="post" class="calc__form" id="calc-form" novalidate>
                {{ form.hidden_tag() }}

                <div class="calc__progress">
                    <ul class="calc__progress-list">
                        <li class="calc__progress-item calc__progress-item--active" data-step="0"
                            aria-hidden="false" aria-current="step">
                            Регион
                        </li>
                        <li class="calc__progress-item" data-step="1" aria-hidden="true">
                            Размеры здания
                        </li>
                        <li class="calc__progress-item" data-step="2" aria-hidden="true">
                            Материал стен
                        </li>
                        <li class="calc__progress-item" data-step="3" aria-hidden="true">
                            Окна и двери
                        </li>
                    </ul>
                </div>

                {% for step in steps %}
                    {% include "steps/" ~ step %}
                {% endfor %}

                <div class="calc__navigation">
                    <button type="button" id="prev-step" class="calc__button calc__button--prev">
                        <span class="material-icons calc__button-icon">arrow_back</span>
                        Назад
                    </button>
                    <div class="calc__submit calc__submit--hidden" aria-hidden="true">
                        {{ form.submit }}
                    </div>
                    <button type="button" id="next-step" class="calc__button calc__button--next">
                        Далее
                        <span class="material-icons calc__button-icon">arrow_forward</span>
                    </button>
                </div>
            </form>
        </div>
    </section>
{% endblock %}

{% block scripts %}
    <script type="module" src="{{ url_for("static", filename="js/calc.js") }}"></script>
{% endblock %}