<div class="calc__foundation-options" data-type="slab" style="display: none;">
    <p class="calc__description">Укажите размеры плитного фундамента для расчёта материалов.</p>
    <div class="calc__input-group">
        <label for="slab-width" class="calc__input-label">
            <span class="calc__label-text">
                <i class="material-icons calc__icon">straighten</i>
                Ширина плиты (м):
            </span>
            <input type="number" id="slab-width" class="calc__input" min="0">
        </label>
        <label for="slab-length" class="calc__input-label">
            <span class="calc__label-text">
                <i class="material-icons calc__icon">straighten</i>
                Длина плиты (м):
            </span>
            <input type="number" id="slab-length" class="calc__input" min="0">
        </label>
        <label for="slab-height" class="calc__input-label">
            <span class="calc__label-text">
                <i class="material-icons calc__icon">straighten</i>
                Высота плиты (мм):
            </span>
            <input type="number" id="slab-height" class="calc__input" min="0">
        </label>
    </div>
</div>