<section class="calc__step" id="calc-step" aria-hidden="true" tabindex="-1">
    <fieldset class="calc__fieldset">
        <legend class="calc__legend">
            Итоговый расчёт строительства
        </legend>

        <div class="calc__result-container">
            <div class="calc__chart-container">
                <figure class="calc__diagram">
                    <div class="calc__chart">
                        <canvas id="calc-chart" width="300" height="300"
                                aria-label="Диаграмма распределения затрат">
                        </canvas>
                    </div>
                    <figcaption class="calc__diagram-caption">Диаграмма распределения затрат</figcaption>
                </figure>
            </div>
            <div class="calc__summary">
                <h3 class="calc__summary-title">Основные параметры</h3>
                <table class="calc__summary-table">
                    <tbody>
                    <tr class="calc__summary-row">
                        <th scope="row" class="calc__summary-label">Общая стоимость:</th>
                        <td id="calc-total" class="calc__summary-value"></td>
                    </tr>
                    <tr class="calc__summary-row">
                        <th scope="row" class="calc__summary-label">Площадь здания:</th>
                        <td id="calc-area" class="calc__summary-value"></td>
                    </tr>
                    <tr class="calc__summary-row">
                        <th scope="row" class="calc__summary-label">Периметр здания:</th>
                        <td id="calc-perimeter" class="calc__summary-value"></td>
                    </tr>
                    <tr class="calc__summary-row">
                        <th scope="row" class="calc__summary-label">Площадь стен:</th>
                        <td id="calc-walls" class="calc__summary-value"></td>
                    </tr>
                    <tr class="calc__summary-row">
                        <th scope="row" class="calc__summary-label">Объем кладки:</th>
                        <td id="calc-masonry" class="calc__summary-value"></td>
                    </tr>
                    <tr class="calc__summary-row">
                        <th scope="row" class="calc__summary-label">Тип материала:</th>
                        <td id="calc-material" class="calc__summary-value"></td>
                    </tr>
                    </tbody>
                </table>
                <div class="calc__chart-legend">
                    <div class="calc__chart-legend-color-item">
                        <span class="calc__chart-legend-color calc__chart-legend-color--walls"></span>
                        <span class="calc__legend-text">Стены:</span>
                    </div>
                    <div class="calc__chart-legend-color-item">
                        <span class="calc__chart-legend-color calc__chart-legend-color--windows"></span>
                        <span class="calc__legend-text">Окна:</span>
                    </div>
                    <div class="calc__chart-legend-color-item">
                        <span class="calc__chart-legend-color calc__chart-legend-color--doors"></span>
                        <span class="calc__legend-text">Двери:</span>
                    </div>
                </div>
            </div>

        </div>
        <div class="calc__details">
            <div class="calc__detail-card">
                <h3 class="calc__detail-title">Материалы стен</h3>
                <table class="calc__detail-table">
                    <tbody>
                    <tr class="calc__detail-row">
                        <th scope="row" class="calc__detail-label">Количество блоков:</th>
                        <td id="calc-blocks" class="calc__detail-value"></td>
                    </tr>
                    <tr class="calc__detail-row">
                        <th scope="row" class="calc__detail-label">Общий вес:</th>
                        <td id="calc-weight" class="calc__detail-value"></td>
                    </tr>
                    <tr class="calc__detail-row">
                        <th scope="row" class="calc__detail-label">Стоимость:</th>
                        <td id="calc-cost" class="calc__detail-value" ></td>
                    </tr>
                    <tr class="calc__detail-row">
                        <th scope="row" class="calc__detail-label">Количество блоков в кубе:</th>
                        <td id="calc-blocks-cube" class="calc__detail-value"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="calc__detail-card calc__detail-card--foundation" id="calc-slab" aria-hidden="true">
                <h3 class="calc__detail-title">Плитный фундамент</h3>
                <table class="calc__detail-table">
                    <tbody>
                    <tr class="calc__detail-row">
                        <th scope="row" class="calc__detail-label">Периметр плиты:</th>
                        <td id="calc-slab-perimeter" class="calc__detail-value"></td>
                    </tr>
                    <tr class="calc__detail-row">
                        <th scope="row" class="calc__detail-label">Объем бетона:</th>
                        <td id="calc-slab-volume" class="calc__detail-value"></td>
                    </tr>
                    <tr class="calc__detail-row">
                        <th scope="row" class="calc__detail-label">Вес бетона:</th>
                        <td id="calc-slab-weight" class="calc__detail-value"></td>
                    </tr>
                    <tr class="calc__detail-row">
                        <th scope="row" class="calc__detail-label">Температурный диапазон:</th>
                        <td id="calc-slab-temp" class="calc__detail-value"></td>
                    </tr>
                    <tr class="calc__detail-row">
                        <th scope="row" class="calc__detail-label">Морозостойкость:</th>
                        <td id="calc-slab-frost" class="calc__detail-value"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="calc__detail-card calc__detail-card--foundation" id="calc-strip" aria-hidden="true">
                <h3 class="calc__detail-title">Ленточный фундамент</h3>
                <table class="calc__detail-table">
                    <tbody>
                    <tr class="calc__detail-row">
                        <th scope="row" class="calc__detail-label">Длина ленты:</th>
                        <td id="calc-strip-length" class="calc__detail-value"></td>
                    </tr>
                    <tr class="calc__detail-row">
                        <th scope="row" class="calc__detail-label">Объем бетона:</th>
                        <td id="calc-strip-volume" class="calc__detail-value"></td>
                    </tr>
                    <tr class="calc__detail-row">
                        <th scope="row" class="calc__detail-label">Вес бетона:</th>
                        <td id="calc-strip-weight" class="calc__detail-value"></td>
                    </tr>
                    <tr class="calc__detail-row">
                        <th scope="row" class="calc__detail-label">Температурный диапазон:</th>
                        <td id="calc-strip-temp" class="calc__detail-value"></td>
                    </tr>
                    <tr class="calc__detail-row">
                        <th scope="row" class="calc__detail-label">Морозостойкость:</th>
                        <td id="calc-strip-frost" class="calc__detail-value"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="calc__actions">
            <button type="button" class="calc__button calc__button--save" id="calc-save"
                    aria-label="Сохранить в мои проекты">
                <i class="material-icons calc__button-icon" aria-hidden="true">save</i>
                Сохранить в мои проекты
            </button>
            <button type="button" class="calc__button calc__button--pdf" id="calc-pdf"
                    aria-label="Скачать диаграмму в формате PDF">
                <i class="material-icons calc__button-icon" aria-hidden="true">picture_as_pdf</i>
                PDF
            </button>
            <button type="button" class="calc__button calc__button--png" id="calc-png"
                    aria-label="Скачать диаграмму в формате PNG">
                <i class="material-icons calc__button-icon" aria-hidden="true">image</i>
                PNG
            </button>
            <button type="button" class="calc__button calc__button--report" id="calc-report"
                    aria-label="Скачать полный отчёт в формате PDF">
                <i class="material-icons calc__button-icon" aria-hidden="true">description</i>
                Отчёт
            </button>
        </div>
    </fieldset>
</section>