<section class="calc__step calc__step--active" id="calc-step-1">
    <fieldset class="calc__fieldset">
        <legend class="calc__legend">
            Выберите регион строительства для учёта климатических условий и норм.
        </legend>

        <div class="calc__map-container">
            <figure class="calc__map">
                <svg viewBox="0 0 800 500" class="calc__map-svg" aria-labelledby="map-title"
                     role="img" tabindex="-1" aria-hidden="true">
                    <title id="map-title">Карта регионов</title>

                    <path class="calc__map-path calc__map-path--outline"
                          d="M100,200 L200,150 L300,100 L400,80 L500,100 L600,150 L700,200 L750,300 L700,400 L600,450 L500,470 L400,450 L300,400 L200,350 L150,300 Z"></path>
                    <path class="calc__map-path calc__map-path--region" data-region-id="north"
                          d="M200,150 L300,100 L400,80 L500,100 L400,200 L300,200 Z">
                        <title>Северный регион</title>
                    </path>
                    <path class="calc__map-path calc__map-path--region" data-region-id="west"
                          d="M100,200 L200,150 L300,200 L200,350 L150,300 Z">
                        <title>Западный регион</title>
                    </path>
                    <path class="calc__map-path calc__map-path--region" data-region-id="central"
                          d="M300,200 L400,200 L500,200 L400,350 L300,350 Z">
                        <title>Центральный регион</title>
                    </path>
                    <path class="calc__map-path calc__map-path--region" data-region-id="east"
                          d="M500,100 L600,150 L700,200 L600,300 L500,200 Z">
                        <title>Восточный регион</title>
                    </path>
                    <path class="calc__map-path calc__map-path--region" data-region-id="south"
                          d="M200,350 L300,350 L400,350 L500,350 L600,300 L500,470 L400,450 L300,400 Z">
                        <title>Южный регион</title>
                    </path>

                    <text x="350" y="150" class="calc__map-text">Север</text>
                    <text x="180" y="250" class="calc__map-text">Запад</text>
                    <text x="380" y="280" class="calc__map-text">Центр</text>
                    <text x="600" y="200" class="calc__map-text">Восток</text>
                    <text x="400" y="400" class="calc__map-text">Юг</text>
                </svg>
                <figcaption class="calc__map-caption">Карта регионов строительства</figcaption>
            </figure>
        </div>

        <div class="calc__region-group" role="radiogroup">
            {% for region in regions %}
                <label class="calc__region-label" for="region-{{ region.id }}">
                    <input type="radio" name="region" id="region-{{ region.id }}"
                           class="calc__region-input" value="{{ region.id }}" required>
                    <i class="material-icons calc__region-icon">{{ region.icon }}</i>
                    <span class="calc__region-text">{{ region.name }}</span>
                    <small class="calc__region-info">{{ region.description }}</small>
                    <i class="material-icons calc__selection-checkmark">check_circle</i>
                </label>
            {% endfor %}
        </div>
    </fieldset>
</section>